

      <div id="latestRecipe-title">
        <h1>Legutóbbi receptek</h1>
        <hr>
      </div>
      <div id="latestContainer">
        <div class="latestRecipes">
          <img src="/images/2.jpg" alt="">
        </div>
        <div class="latestRecipes">
          <img src="/images/3.jpg" alt="">
        </div>
        <div class="latestRecipes">
          <img src="/images/4.jpg" alt="">
        </div>
        <div class="latestRecipes">
          <img src="/images/5.jpg" alt="">
        </div>
        <div class="latestRecipes">
          <img src="/images/6.jpg" alt="">
        </div>
      </div>

      <div id="allRecipes-title">
        <h1>Összes Recept</h1>
        <hr>
        <a href="/recipes" id="allRecipes">Tovább </a>
        <a href="/addRecipe" id="addRecipe">Adj hozzá</a>
      </div>

      <div id="categorie-title">
        <h1>Kategóriák</h1>
        <hr>
      </div>
      <div id="categories">
        <div class="categorie">
          <div class="categorie-wrapper">
            <img src="/images/2.jpg" class="categorie-image">
            <p class="categorie-title">
              Thai
            </p>
          </div>
        </div>
        <div class="categorie">
          <div class="categorie-wrapper">
            <img src="/images/3.jpg" class="categorie-image">
            <p class="categorie-title">
              Ázsiai
            </p>
          </div>
        </div>
        <div class="categorie">
          <div class="categorie-wrapper">
            <img src="/images/4.jpg" class="categorie-image">
            <p class="categorie-title">
              Amerikai
            </p>
          </div>
        </div>
        <div class="categorie">
          <div class="categorie-wrapper">
            <img src="/images/5.jpg" class="categorie-image">
            <p class="categorie-title">
              Magyar
            </p>
          </div>
        </div>
        <div class="categorie">
          <div class="categorie-wrapper">
            <img src="/images/3.jpg" class="categorie-image">
            <p class="categorie-title">
              Olasz
            </p>
          </div>
        </div>
      </div>
      