* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  padding: 0 3rem;
  color:  hsla(188, 100%, 6%, 0.58);
  font-family: $paragraphFont;
  font-weight: bold;
}