#sendRecipesForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: lightblue;
  height: 50vh;
  padding: 5rem;
  width: 80%;
  margin: 0 auto;
}