<div id="categorie-title">
  <h1>Categories</h1>
  <hr>
</div>
<div id="categories">
  <div class="categorie">
    <div class="categorie-wrapper">
      <img src="/images/2.jpg" class="categorie-image">
      <p class="categorie-title">
        Thai
      </p>
    </div>
  </div>
  <div class="categorie">
    <div class="categorie-wrapper">
      <img src="/images/2.jpg" class="categorie-image">
      <p class="categorie-title">
        Asian
      </p>
    </div>
  </div>
  <div class="categorie">
    <div class="categorie-wrapper">
      <img src="/images/2.jpg" class="categorie-image">
      <p class="categorie-title">
        American
      </p>
    </div>
  </div>
  <div class="categorie">
    <div class="categorie-wrapper">
      <img src="/images/2.jpg" class="categorie-image">
      <p class="categorie-title">
        Hungarian
      </p>
    </div>
  </div>
  <div class="categorie">
    <div class="categorie-wrapper">
      <img src="/images/3.jpg" class="categorie-image">
      <p class="categorie-title">
        Italian
      </p>
    </div>
  </div>
</div>
