<div id="latestContainer">
  <div class="latestRecipes">
    <img src="/images/2.jpg" alt="">
  </div>
  <div class="latestRecipes">
    <img src="/images/2.jpg" alt="">
  </div>
  <div class="latestRecipes">
    <img src="/images/2.jpg" alt="">
  </div>
  <div class="latestRecipes">
    <img src="/images/2.jpg" alt="">
  </div>
  <div class="latestRecipes">
    <img src="/images/2.jpg" alt="">
  </div>
</div>