<nav>
  <a href="/addRecipe" id="addRecipe">Adj hozzá</a>
  <a href="/">Kezdőlap</a>
  <a href="/allRecipes">Összes</a>
  <a href="#categories">Kategóriák</a>
  <a href="">Fourth</a>
  <a href="">Fifth</a>
</nav>